{% include 'base.html' %}
<div class="container">

    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Encuestas
                </h1>
                <h2 class="subtitle">
                    Listado de encuestas
                </h2>
            </div>
        </div>
    </section>
    <div class="columns">
        <div class="column is-one">
            <table class="table is-bordered is-striped is-fullwidth">
                <thead>
                <tr class="is-selected">
                    <th>
                        #
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Total de preguntas
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
                </thead>
                <tbody>

                {% if surveys %}
                    {% for surve in surveys %}
                        <tr>
                            <td>
                              {{ forloop.counter }}
                            </td>
                            <td>
                                {{ surve.name }}
                            </td>
                            <td>
                                <span class="tag is-info is-light">
                                   {{ surve.total_preguntas }}
                                </span>
                            </td>
                            <td>


                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">
                            Sin encuestas disponibles
                        </td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>